.cabecalho {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 2rem;
  margin-bottom: 2.5rem;
}
.cabecalho .cabecalho__principal {
  display: grid;
  grid-template-columns: auto 50% 0.5fr;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .cabecalho .cabecalho__principal {
    row-gap: 24px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo logincadastro" "input input";
  }
  .cabecalho .cabecalho__principal .cabecalho__container__logo {
    grid-area: logo;
  }
  .cabecalho .cabecalho__principal .login-cadastro {
    grid-area: logincadastro;
  }
  .cabecalho .cabecalho__principal .cabecalho__form {
    grid-area: input;
  }
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal {
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "logo logo" "menu logincadastro" "input input";
  }
  .cabecalho .cabecalho__principal .cabecalho__menu {
    grid-area: menu;
  }
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal .cabecalho__container__logo {
    display: flex;
    justify-content: center;
  }
}
.cabecalho .cabecalho__principal form .cabecalho__pesquisa {
  background-image: url("/assets/header/search.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  color: #444444;
  border: 1.5px solid #444444;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.cabecalho .cabecalho__principal form .cabecalho__pesquisa:focus {
  outline: none;
  border-width: 2px;
}
.cabecalho .cabecalho__principal .cabecalho__menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal .cabecalho__menu {
    display: block;
  }
}
.cabecalho .cabecalho__principal .login-cadastro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  color: #444444;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cabecalho .cabecalho__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__nav {
    display: none;
  }
}
.cabecalho .cabecalho__nav .nav-link {
  position: relative;
  text-decoration: none;
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cabecalho .cabecalho__nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s;
}
.cabecalho .cabecalho__nav .nav-link:hover::after, .cabecalho .cabecalho__nav .nav-link:focus::after {
  width: 100%;
}
.cabecalho .nav__aberto {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  width: 14rem;
  padding: 0.8rem 1.5rem;
  top: 0;
  left: 0;
  box-shadow: 0 4px 24px 0 #b9b9b9;
}
.cabecalho .nav__aberto .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.cabecalho .nav__aberto .nav-link span {
  color: #c13724;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.cabecalho .cabecalho__menu__fechar {
  position: absolute;
  display: none;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  top: 0.5rem;
  left: 11.5rem;
  cursor: pointer;
}

.menu-aberto > .cabecalho__menu__fechar {
  display: block;
}

.banner {
  background-color: #fff5eb;
  padding: 3rem 0;
}
.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .banner .container {
    flex-direction: column;
    text-align: center;
  }
}
.banner .container .banner__titulo {
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .banner .container .banner__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 2.635rem;
    font-weight: 400;
    line-height: 1.3;
  }
}
@media screen and (max-width: 428px) {
  .banner .container .banner__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 2.438rem;
    font-weight: 400;
    line-height: 1.3;
  }
}
.banner .container .banner__titulo span {
  color: #a2b72b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #444444;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

/*# sourceMappingURL=style.css.map */
