@charset "UTF-8";
.cabecalho {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 2rem;
}
.cabecalho .cabecalho__principal {
  display: grid;
  grid-template-columns: auto 50% 0.5fr;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .cabecalho .cabecalho__principal {
    row-gap: 24px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo logincadastro" "input input";
  }
  .cabecalho .cabecalho__principal .cabecalho__container__logo {
    grid-area: logo;
  }
  .cabecalho .cabecalho__principal .login-cadastro {
    grid-area: logincadastro;
  }
  .cabecalho .cabecalho__principal .cabecalho__form {
    grid-area: input;
  }
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal {
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "logo logo" "menu logincadastro" "input input";
  }
  .cabecalho .cabecalho__principal .cabecalho__menu {
    grid-area: menu;
  }
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal .cabecalho__container__logo {
    display: flex;
    justify-content: center;
  }
}
.cabecalho .cabecalho__principal form .cabecalho__pesquisa {
  background-image: url("/assets/header/search.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  color: #444444;
  border: 1.5px solid #444444;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.cabecalho .cabecalho__principal form .cabecalho__pesquisa:focus {
  outline: none;
  border-width: 2px;
}
.cabecalho .cabecalho__principal .cabecalho__menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__principal .cabecalho__menu {
    display: block;
  }
}
.cabecalho .cabecalho__principal .login-cadastro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  color: #444444;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
.cabecalho .cabecalho__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 680px) {
  .cabecalho .cabecalho__nav {
    display: none;
  }
}
.cabecalho .cabecalho__nav .nav-link {
  position: relative;
  text-decoration: none;
  color: #444444;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
.cabecalho .cabecalho__nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}
.cabecalho .cabecalho__nav .nav-link:hover::after, .cabecalho .cabecalho__nav .nav-link:focus::after {
  width: 100%;
}
.cabecalho .nav__aberto {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  width: 14rem;
  padding: 0.8rem 1.5rem;
  top: 0;
  left: 0;
  box-shadow: 0 4px 24px 0 #b9b9b9;
}
.cabecalho .nav__aberto .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.cabecalho .nav__aberto .nav-link span {
  color: #c13724;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.cabecalho .cabecalho__menu__fechar {
  position: absolute;
  display: none;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  top: 0.5rem;
  left: 11.5rem;
  cursor: pointer;
}

.menu-aberto > .cabecalho__menu__fechar {
  display: block;
}

.banner {
  background-color: #fff5eb;
  padding: 3.5rem 0;
  margin-top: 2.5rem;
}
.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .banner .container {
    flex-direction: column;
    text-align: center;
  }
}
.banner .container .banner__titulo {
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .banner .container .banner__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 2.635rem;
  }
}
@media screen and (max-width: 428px) {
  .banner .container .banner__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 2.438rem;
  }
}
.banner .container .banner__titulo span {
  color: #a2b72b;
}

.servicos {
  margin-top: 5rem;
}
.servicos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}
.servicos .container .servicos__titulo {
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 2.438rem;
}
@media screen and (max-width: 428px) {
  .servicos .container .servicos__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 1.938rem;
  }
}
.servicos .container .servicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.servicos .container .servicos__lista .lista-item {
  background-color: #fff5eb;
  border-radius: 16px;
  padding: 1.75rem 1rem;
}
@media screen and (max-width: 1200px) {
  .servicos .container .servicos__lista .lista-item {
    min-width: 220px;
  }
}
.servicos .container .servicos__lista .lista-item .lista-item__link {
  position: relative;
  text-decoration: none;
  color: #ee6451;
  transition: padding-left 0.3s ease;
  font-family: "Sigmar", sans-serif;
  font-size: 1.563rem;
}
.servicos .container .servicos__lista .lista-item .lista-item__link::before {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 50%;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0);
  transition: transform 0.3s ease, left 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .servicos .container .servicos__lista .lista-item .lista-item__link:hover {
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .servicos .container .servicos__lista .lista-item .lista-item__link:hover::before {
    transform: scale(1) translateY(50%);
    left: 0px;
  }
}
.servicos .container .servicos__lista .lista-item__banhoetosa > .lista-item__link::before {
  background-image: url("/assets/servicos/Ícone-banho-e-tosa.png");
}
.servicos .container .servicos__lista .lista-item__hospedagem > .lista-item__link::before {
  background-image: url("/assets/servicos/Ícone-hospedagem.svg");
}
.servicos .container .servicos__lista .lista-item__veterinario > .lista-item__link::before {
  background-image: url("/assets/servicos/icone-veterinário.svg");
}
.servicos .container .servicos__lista .lista-item__adestramento > .lista-item__link::before {
  background-image: url("/assets/servicos/icone-adestramento.svg");
}
.servicos .container .servicos__lista .lista-item__petsitter > .lista-item__link::before {
  background-image: url("/assets/servicos/Ícone-Petsitter.svg");
}

.planos {
  margin-top: 8rem;
}
.planos .planos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #ee6451;
  border-radius: 32px;
  padding: 2.5rem 1rem;
}
.planos .planos__container .container__titulo {
  text-align: center;
  color: #fff5eb;
  font-family: "Sigmar", sans-serif;
  font-size: 2.438rem;
}
@media screen and (max-width: 428px) {
  .planos .planos__container .container__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 1.938rem;
  }
}
.planos .planos__container .planos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.planos .planos__container .planos__lista .lista-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem;
}
.planos .planos__container .planos__lista .lista-item .lista-item__titulo {
  color: #444444;
  font-family: "Sigmar", sans-serif;
  font-size: 1.938rem;
}
.planos .planos__container .planos__lista .lista-item .lista-item__descricao {
  max-width: 265px;
}
.planos .planos__container .planos__lista .lista-item .valor-assinar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.planos .planos__container .planos__lista .lista-item .valor-assinar .valor {
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 2.438rem;
}
.planos .planos__container .planos__lista .lista-item .valor-assinar .assinar {
  background-color: #ee6451;
  color: #ffffff;
  border-radius: 32px;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.ofertas {
  position: relative;
  padding: 5rem 0;
  margin-top: 5rem;
  background-color: #fff5eb;
}
.ofertas .ofertas__titulo {
  text-align: center;
  margin-bottom: 2rem;
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 2.438rem;
}
@media screen and (max-width: 428px) {
  .ofertas .ofertas__titulo {
    font-family: "Sigmar", sans-serif;
    font-size: 1.938rem;
  }
}
.ofertas .ofertas__container .ofertas__produtos {
  display: flex;
  justify-content: flex-start;
}
.ofertas .ofertas__container .ofertas__produtos .ofertas__produto {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
  border-radius: 16px;
  padding: 1rem 0.5rem;
  height: auto;
  width: 282px;
  background-color: #ffffff;
}
.ofertas .ofertas__container .ofertas__produtos .ofertas__produto .produto__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.ofertas .ofertas__container .ofertas__produtos .ofertas__produto .produto__info .info__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.ofertas .ofertas__container .ofertas__produtos .ofertas__produto .produto__info .info__preco {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.ofertas .ofertas__container .swiper-button-prev,
.ofertas .ofertas__container .swiper-button-next {
  text-align: center;
  background-color: #ee6451;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.8rem;
}
@media screen and (max-width: 428px) {
  .ofertas .ofertas__container .swiper-button-prev,
  .ofertas .ofertas__container .swiper-button-next {
    display: none;
  }
}
.ofertas .ofertas__container .swiper-pagination,
.ofertas .ofertas__container .swiper-scrollbar {
  display: none;
}

.parceiros {
  padding: 5rem 0;
  background-color: #ffffff;
}
.parceiros .container .parceiros__titulo {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #ee6451;
  font-family: "Sigmar", sans-serif;
  font-size: 2.438rem;
}
.parceiros .container .parceiros__lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 24px;
}
@media screen and (max-width: 768px) {
  .parceiros .container .parceiros__lista {
    column-gap: 24px;
  }
}
.parceiros .container .parceiros__lista .lista-item img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.parceiros .container .parceiros__lista .lista-item:nth-child(odd):hover img {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(193, 55, 36, 0.4);
}
.parceiros .container .parceiros__lista .lista-item:nth-child(even):hover img {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(162, 183, 43, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #444444;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

/*# sourceMappingURL=style.css.map */
