@use "sass:map";
@use "./variables" as v;
@use "./functions" as f;

@mixin font-config($font-family, $font-size, $font-weight: map.get(v.$weights, regular)) {
    font-family: f.font-family($font-family);
    font-size: f.font-size($font-family, $font-size);
    font-weight: f.font-weight($font-weight);
}

@mixin responsive($type, $breakpoint) {
    @media screen and (#{$type}-width: f.breakpoint($breakpoint)) {
        @content;
    }
}

@mixin grid-area-element($class, $grid-area) {
    .#{$class} {
        grid-area: $grid-area;
    }
}