$colors: (
  neutros: (
    cinza-escuro: #444444,
    cinza-medio: #b9b9b9,
    branco: #ffffff
  ),
  primarios: (
    coral: #ee6451,
    ocre: #c13724
  ),
  secundarios: (
    bege: #fff5eb,
    bege-medio: #f5e6d6
  ),
  terciarios: (
    verde: #cbda74,
    verde-escuro: #a2b72b,
    verde-claro: #eff2e1
  ),
  shadows: (
    vinho: rgba(193, 55, 36, 0.4),
    verde-esgoto: rgba(162, 183, 43, 0.4),
  ),
);

$weights: (
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

$breakpoints: (
  mobile: 428px,
  tablet: 768px,
  desktop: 1200px,
  header-mobile: 680px,
  newsletter-tablet: 1000px,
);

$typography: (
  sigmar: (
    family: ("Sigmar", sans-serif),
    sizes: (
      h1: 4.5rem,
      h2: 4rem,
      h3: 2.635rem,
      h4: 2.438rem,
      h5: 1.938rem,
      h6: 1.563rem,
    )
  ),
  poppins: (
    family: ("Poppins", sans-serif),
    sizes: (
      subtitle: 1.5rem,
      large: 1.25rem,
      base: 1rem,
      small: 0.813rem,
    )
  )
);
