@use "sass:map";
@use "../abstracts/index" as *;

.banner {
    background-color: get-color(secundarios, bege);
    padding: 3.5rem 0;
    margin-top: 2.5rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(desktop) {
            //responsividade | conteúdo em coluna e centralizado
            flex-direction: column;
            text-align: center;
        }

        .banner__titulo {
            color: get-color(primarios, coral);
            @include font-config(sigmar, h2);
            @include responsive(tablet) {
                @include font-config(sigmar, h3);
            }
            @include responsive(mobile) {
                @include font-config(sigmar, h4);
            }

            span {
                color: get-color(terciarios, verde-escuro);
            }
        }
    }
}