@use "../abstracts/index" as *;

.ofertas {
    position: relative;
    padding: 5rem 0;
    margin-top: 5rem;
    background-color: get-color(secundarios, bege);

    .ofertas__titulo {
        text-align: center;
        margin-bottom: 2rem;
        color: get-color(primarios, coral);
        @include font-config(sigmar, h4);
        @include responsive(mobile) {
            @include font-config(sigmar, h5);
        }
    }

    .ofertas__container {
        .ofertas__produtos {
            display: flex;
            justify-content: flex-start;

            .ofertas__produto {
                display: grid;
                grid-template-rows: auto 1fr;
                gap: 16px;
                border-radius: 16px;
                padding: 1rem .5rem;
                height: auto;
                width: 282px;
                background-color: get-color(neutros, branco);

                .produto__info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 16px;

                    .info__titulo {
                        @include font-config(poppins, subtitle, semibold);
                    }

                    .info__preco {
                        @include font-config(poppins, subtitle, semibold);
                    }
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            text-align: center;
            background-color: get-color(primarios, coral);
            color: get-color(neutros, branco);
            border-radius: 50%;
            padding: 0.8rem;
            @include responsive(mobile) {
                display: none;
            }
        }

        .swiper-pagination,
        .swiper-scrollbar {
            display: none;
        }
    }
}