@use "sass:map";
@use "../abstracts/index" as *;

.parceiros {
    padding: 5rem 0;
    background-color: get-color(neutros, branco);

    .container {
        .parceiros__titulo {
            text-align: center;
            margin-bottom: 2.5rem;
            color: get-color(primarios, coral);
            @include font-config(sigmar, h4);
        }

        .parceiros__lista {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 80px;
            row-gap: 24px;
            @include responsive(tablet) {
                column-gap: 24px;
            }

            .lista-item {
                img {
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                }

                &:nth-child(odd):hover img {
                    transform: scale(1.1);
                    box-shadow: 0 0 20px get-color(shadows, vinho);
                }

                &:nth-child(even):hover img {
                    transform: scale(1.1);
                    box-shadow: 0 0 20px get-color(shadows, verde-esgoto);
                }
            }
        }
    }
}