@use "sass:map";
@use "./abstracts/index" as *;

//cabecalho
@use "./principal/header";

//sections
@use "./sections/banner";
@use "./sections/servicos";
@use "./sections/planos";
@use "./sections/ofertas";
@use "./sections/parceiros";
@use "./sections/newsletter";

//rodape
@use "./principal/footer";

//----------------------------------------------------------------------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: get-color(neutros, branco);
    color: get-color(neutros, cinza-escuro);
    line-height: 1.2;
    width: 100%;
    min-height: 100vh;
    @include font-config(poppins, base);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 75rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
}